<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNETplus - Contact</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section id="tete">
        <div id="logo" class="haut">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjhQxSKV_tSFdGMZZ0E1Zc4Z2ZneEoi9YuCE4W4iCjmsGA50rhwMNer64Se3YJLGy--LE&usqp=CAU" alt="" width="100" height="50">
        </div>
        <div id="numero" class="haut" class="align">
<div id="us">
    
    <a href="mailto:gnet.plus@yahoo.com" class="align" ><i class="fas fa-phone"></i>Contactez-nous</a>
</div>
        </div>
        <div id="accueil" class="haut" class="align">
<a href="accueil.html">Accueil</a>
        </div>
        <div id="services" class="haut" class="align">
<a href="services.html">Services</a>
        </div>
        <div id="reservatio" class="haut" class="align">
            <a href="">Reservation</a>
            <div id="deroulant">
                <a  href="entreprise.html">Entreprise</a><br>
                <a  href="">Particulier</a><br>
                <a href="services.html">Services</a>
            </div>
        </div>
        <div id="a-propros" class="haut" class="align">
<a href="a-propos.html">A Propos</a>
        </div>
        <div id="contacte" class="haut" class="align">
<a href="contact.html">Contact</a>
        </div>
        <div id="facebook" class="haut" class="align">
            
            <a href="https://www.facebook.com/profile.php?id=100012647559749" target="_blank" ><i class="fab fa-facebook"></i></a>
        </div>
        <div id="linkedin" class="haut" target="_blank" class="align">
            
<a href=""><i class="fab fa-linkedin"></i></a>
        </div>
        <div id="twitter" class="haut" class="align">
            
<a href=""><i class="fab fa-twitter"></i></a>
        </div>
        <div id="reservation" class="haut" class="align"> 
            
            <a href="reservartion.html" id="faire-reservation" class="effet"> <i class="fas fa-calendar"></i> RESERVATION</a>
        </div>
    </section>

    <section id="avant">
        <h6>CONTACTEZ G NET+</h6>
        <h1>Des experts dédiés à transformer<br> votre environnement, pour une vie <br>plus saine et plus sereine !"</h1>
    </section>

<section id="aider">
    <div id="gauche">
        <div class="image-container">
            <img class="overlay-image" src="https://www.designetsolutions.fr/img/produits/photo-produit-711.jpg" alt="Image 2" width="500" height="500">
            <img class="image" src="https://crennjulie.files.wordpress.com/2014/06/fond-gris-degrade-642552.jpg" alt="" width="500" height="500">
        </div>
    </div>
    <div id="droite">
        <h1 class="h1-noir">Nous sommes là<br>pour vous aider...</h1>
        <p>Besoin de nos services ? Contactez-nous facilement pour une<br> intervention rapide ! Notre équipe est prête à répondre à vos besoins<br> d'hygiène et de propreté.</p>
        <div id="bas">

        <div id="icone-1">
            <div id="ic-1" class="petit-carre">
            <i class="fas fa-home"></i>
        </div>
            <div id="info-1">
            <p class="no-padding" class="h5-noir">Rendez nous visite</p>
            <p class="no-padding" class="h6-noir">ABIDJAN,CÔTE D'IVOIRE</p>
        </div>
    </div>

        <div id="icone-1">
            <div id="ic-2" class="petit-carre">
            <i class="fas fa-envelope"></i>
        </div>
        <div id="info-1" class="no-padding" >
            <p class="no-padding"class="h5-noir">Mail</p>
                <p class="no-padding"  class="h6-noir">gnet.plus@yahoo.com</p>
        </div>
        </div>
        <div id="icone-1" >
            <div id="ic-3" class="petit-carre">
                <i class="fas fa-phone"></i>
            </div>
            <div id="info-1">
                <p class="no-padding" class="h5-noir">Télephone</p>
                    <p class="no-padding" class="h6-noir">(+225) 01 03 11 01 40</p>
            </div>
            </div>

       
           
       
        <div id="don">
            
        </div>
    </div>
    </div>
</section>


<section id="formu">
    <div id="prise">
    <h6>PRISE DE CONTACT</h6>
    <h1>"Prenez contact pour<br>partager vos préocupations <br>avec GNET+"</h1>
    <p>Notre équipe attentive est prête à repondre à vos questions </p>
    
</div>
<div id="formulaire">
    <form action="/" method="post" id="form-contact">
        <input class="input-normal" type="text" name="nom" id="nom" placeholder="Nom" ><br>
        <input  class="input-normal" type="text" name="email" id="email" placeholder="Email"><br>
        <input class="input-normal" type="number" name="telephone" id="telephone" placeholder="Télephone"><br>
        <input class="input-normal" type="text" name="service-attendu" id="service-attendu" placeholder="Service attendu"><br>
        <input class="input-com" type="text" name="commentaire" id="commentaire" placeholder="Commentaire" ><br>
        <input class="env" type="submit" name="rendez-vous" id="rendez-vous" >
</form>

</div>
</section>


<section id="all-foot">

   
    <section id="avant-pied" class="foot">
        <div id="logo-pied" class="espace">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjhQxSKV_tSFdGMZZ0E1Zc4Z2ZneEoi9YuCE4W4iCjmsGA50rhwMNer64Se3YJLGy--LE&usqp=CAU" alt="" width="100" height="50">
        </div>
     
            <div id="facebook-pied" class="petit-epace" >
                <a href=""><i class="fab fa-facebook"></i></a>
            </div>
          
                <div id="twitter-pied" class="petit-epace" >
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
               
                    <div id="linkedin-pied" class="petit-epace" >
                        <a href=""><i class="fab fa-linkedin"></i></a>
                    </div>
                   
                        <div id="instagram-pied" class="petit-epace" >
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
    </section>
   <hr id="ligne">
    <section id="pied" class="foot">
       
        <div id="explorer" >
<h2>Explorer</h2>
<h5 class="h1-noir"><a href="accueil.html">Accueil</a></h5>
<h5 class="h1-noir"><a href="services.html">Services</a></h5>
<h5 class="h1-noir"><a href="profil.html">Profil</a></h5>
<h5 class="h1-noir"><a href="a-propos.html">A Propos</a></h5>
<h5 class="h1-noir"><a href="contact.html">Contact</a></h5>
        </div>
        <div id="service" class="espace">
            <h2>Services</h2>
            <h5 class="h1-noir"><a href="services.html">Désinsectisation</a></h5>
            <h5 class="h1-noir"><a href="services.html">Dératisation</a></h5>
            <h5 class="h1-noir"><a href="services.html">Nettoyage</a></h5>
        </div>
        <div id="gnet" class="espace">
            <h2>G NET+</h2>
            <h5 class="h1-noir"><strong>Adresse :   </strong>Abidjan,cocody</h5>
            <h5 class="h1-noir"><strong>Mail :   </strong>support@doctors.com</h5>
            <h5 class="h1-noir"><strong>Numéro :   </strong>(+225) 01 03 11 01 40</h5>
        </div>
        <div id="heures" class="espace">
            <h2>Heures d'ouverture</h2>
            <h5 class="h1-noir">Lundi au vendredi  : 08 h  - 18h</h5>
            <h5 class="h1-noir">Samedi: 09 - 7pm</h5>

        </div>
    </section>
    <section id="noir">
<h4 id="copyright"><i class="fas fa-copyright"></i> Droits d'auteur 2023. Rédigé par project 15</h4>
    </section>
</section>
    <script>
         const lien = document.querySelectorAll("a");
lien.forEach(lien =>{
lien.addEventListener("mouseover", () =>{
lien.style.backgroundColor = "#A8D554"
lien.style.borderStyle = "groove"
lien.style.borderColor = "#FFFFFF"
lien.style.borderWidth = "5px"
lien.style.width = "100px"
})
lien.addEventListener("mouseout", () =>{
lien.style.backgroundColor = ""
lien.style.borderStyle = ""
lien.style.borderColor = ""
lien.style.borderWidth = ""
lien.style.width = ""
})
})
const deroulante = document.querySelector("#reservatio");

deroulante.addEventListener("mouseover", () => {
    deroulant.style.visibility = "visible";
});

deroulante.addEventListener("mouseout", () => {
    deroulant.style.visibility = "hidden";
});
    </script>
</body>
</html>

