<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation - Entreprise</title>
    <link rel="stylesheet" href="entreprise.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section id="tete">
        <div id="logo" class="haut">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjhQxSKV_tSFdGMZZ0E1Zc4Z2ZneEoi9YuCE4W4iCjmsGA50rhwMNer64Se3YJLGy--LE&usqp=CAU" alt="" width="100" height="50">
        </div>
        <div id="numero" class="haut" class="align">
<div id="us">
    
    <a href="mailto:gnet.plus@yahoo.com" class="align" ><i class="fas fa-phone"></i>Contactez-nous</a>
</div>
        </div>
        <div id="accueil" class="haut" class="align">
<a href="accueil.html">Accueil</a>
        </div>
        <div id="services" class="haut" class="align">
<a href="services.html">Services</a>
        </div>
        <div id="reservatio" class="haut" class="align">
            <a href="">Reservation</a>
            <div id="deroulant">
                <a  href="entreprise.html">Entreprise</a><br>
                <a  href="">Particulier</a><br>
                <a href="services.html">Services</a>
            </div>
        </div>
        <div id="a-propros" class="haut" class="align">
<a href="a-propos.html">A Propos</a>
        </div>
        <div id="contacte" class="haut" class="align">
<a href="contact.html">Contact</a>
        </div>
        <div id="facebook" class="haut" class="align">
            
            <a href="https://www.facebook.com/profile.php?id=100012647559749" target="_blank" ><i class="fab fa-facebook"></i></a>
        </div>
        <div id="linkedin" class="haut" target="_blank" class="align">
            
<a href=""><i class="fab fa-linkedin"></i></a>
        </div>
        <div id="twitter" class="haut" class="align">
            
<a href=""><i class="fab fa-twitter"></i></a>
        </div>
        <div id="reservation" class="haut" class="align"> 
            
            <a href="entreprise.html" id="faire-reservation" class="effet"> <i class="fas fa-calendar"></i> RESERVATION</a>
        </div>
    </section>



    <section id="avant">
        <div id="face-1">
            <span id="face-1-1">
        <h6>NOS SERVICES</h6>
        <h1>Chez G NET +, nous protégeons votre famille et votre entreprise en éliminant les<br> nuisibles. Dératisation, désinsectisation, nettoyage phytosanitaire, nous intervenons<br> partout, de la porte d'entrée à votre jardin.</h1>
        <a href="entreprise.html" id="faire-reservation" class="effet">FAIRE UNE RESSERVATION</a>
        </span>
        </div>
    </section>


    <section id="inform">
        <form action="/" method="post">
            <section id="s-1">
<input type="text" placeholder="Nom" required  class="espace">
<input type="text" placeholder="Penom" required class="espace">
<input type="text" placeholder="Email" required class="espace">
            </section>
            <br><br>
            <section id="s-2">
                <h3 class="h3-noir">Service de lutte antiparasitaire</h3>
<input type="checkbox" name="checkbox-1">
<label for="checkbox-1">Désinsectisation</label><br><br>

<input type="checkbox" name="checkbox-2">
<label for="checkbox-2">Dératisation</label><br><br>

<input type="checkbox" name="checkbox-3">
<label for="checkbox-3">Phytosanitaire</label><br><br>
            </section>

            <section id="s-3">
                <h3 class="h3-noir">Types nuisibles</h3>
                <section id="s-3-1">
                <div id="d-1">
                   
<input type="checkbox" name="checkbox-1" >
<label for="checkbox-1">Rongeurs (souris-rats-etc)</label><br><br>

<input type="checkbox" name="checkbox-2">
<label for="checkbox-2">Acariens (punaises de lit - puces - tiques)</label><br><br>

<input type="checkbox" name="checkbox-3">
<label for="checkbox-3">Insectes volants (mouches - moustiques - etc)</label><br><br>
                </div>
                <div id="d-2" class="espace">
                    <input type="checkbox" name="checkbox-1">
<label for="checkbox-1">Reptiles ( serpents - vipères )</label><br><br>

<input type="checkbox" name="checkbox-2">
<label for="checkbox-2">Insectes rampants (cafards - fourmis - salamandre - etc)</label><br><br><br><br>
                </div>
            </section>
            </section>

            <section id="s-4">
                <div id="d-3">
                    <h3 class="h3-noir">Localisation</h3>

                    <input type="radio" name="choix-1" value="option1" id="option1">
                    <label for="option1">Abidjan</label><br><br>
                
                    <input type="radio" name="choix-2" value="option2" id="option2">
                    <label for="option2">Autres ville</label>
                    <input type="text" placeholder="ville">
                    <br>
                    <br>

                </div>
                <div id="d-4">
                    
                    <input type="text" placeholder="Quartier"><br><br><br><br>
                   
                </div>
            </section>

            <section id="en">
                <h3 class="h3-noir" >Types d'Entreprise</h3>
                
            </section>
            <section id="s-5">
               
                <section id="d-5" >       
<div id="d-5-1">
<input type="checkbox" name="restaurant" id="restaurant">
<label for="restaurant">Restaurant</label><br><br>

<input type="checkbox" name="depot" id="depot">
<label for="depot">Dépot</label><br><br>

<input type="checkbox" name="centre" id="centre">
<label for="centre">Centre Hospitalier</label><br><br>

<input type="checkbox" name="administrative" id="administrative">
<label for="administrative">Administration</label><br><br>

<input type="checkbox" name="industrie" id="industrie">
<label for="industrie">industrie</label><br><br>

<input type="checkbox" name="agro-industrie" id="agro-industrie">
<label for="agro-industrie">Agro-Industrie</label><br><br>

<input type="checkbox" name="hotel" id="hotel">
<label for="hotel">Hotels</label><br><br>
</div>
<div id="d-6" class="espace">
<hr id="ligne-6">
</div>
<div id="d-7" class="espace">
    <h3 class="h3-noir" class="espace">Caractéristiques</h3><br><br>
    <label for="nbre-salle">Nombre de salles</label>
    <input type="text" name="nbre-salle"><br><br>

    <label for="nbre-salle">Nombre de Bureau</label>
    <input type="text" name="nbre-bureau"><br><br><br><br>
   
    <h3 class="h3-noir" class="espace">Autres</h3>

    <label for="jardin">Jardin</label>
    <input type="text" name="jardin"><br><br>


    <label for="cuisines">Cuisines</label>
    <input type="text" name="cuisines"><br><br>

    <label for="piscine">Piscine</label>
    <input type="text" name="piscine"><br><br>

    <label for="entrepot">Entrepôt</label>
    <input type="text" name="entrepot"><br><br>

    <a href="reservartion.html" id="faire-reservation" class="effet">FAIRE UNE RESERVATION</a>
    </div>
                </section>
                
            </section>
           
        </form>
    </section>

    <section id="all-foot">

   
    <section id="avant-pied" class="foot">
        <div id="logo-pied" class="espace">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjhQxSKV_tSFdGMZZ0E1Zc4Z2ZneEoi9YuCE4W4iCjmsGA50rhwMNer64Se3YJLGy--LE&usqp=CAU" alt="" width="100" height="50">
        </div>
     
            <div id="facebook-pied" class="petit-epace" >
                <a href=""><i class="fab fa-facebook"></i></a>
            </div>
          
                <div id="twitter-pied" class="petit-epace" >
                    <a href=""><i class="fab fa-twitter"></i></a>
                </div>
               
                    <div id="linkedin-pied" class="petit-epace" >
                        <a href=""><i class="fab fa-linkedin"></i></a>
                    </div>
                   
                        <div id="instagram-pied" class="petit-epace" >
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
    </section>
   <hr id="ligne">
    <section id="pied" class="foot">
       
        <div id="explorer" >
<h2>Explorer</h2>
<h5 class="h1-noir"><a href="accueil.html">Accueil</a></h5>
<h5 class="h1-noir"><a href="services.html">Services</a></h5>
<h5 class="h1-noir"><a href="profil.html">Profil</a></h5>
<h5 class="h1-noir"><a href="a-propos.html">A Propos</a></h5>
<h5 class="h1-noir"><a href="contact.html">Contact</a></h5>
        </div>
        <div id="service" class="espace">
            <h2>Services</h2>
            <h5 class="h1-noir"><a href="services.html">Désinsectisation</a></h5>
            <h5 class="h1-noir"><a href="services.html">Dératisation</a></h5>
            <h5 class="h1-noir"><a href="services.html">Nettoyage</a></h5>
        </div>
        <div id="gnet" class="espace">
            <h2>G NET+</h2>
            <h5 class="h1-noir"><strong>Adresse :   </strong>Abidjan,cocody</h5>
            <h5 class="h1-noir"><strong>Mail :   </strong>support@doctors.com</h5>
            <h5 class="h1-noir"><strong>Numéro :   </strong>(+225) 01 03 11 01 40</h5>
        </div>
        <div id="heures" class="espace">
            <h2>Heures d'ouverture</h2>
            <h5 class="h1-noir">Lundi au vendredi  : 08 h  - 18h</h5>
            <h5 class="h1-noir">Samedi: 09 - 7pm</h5>

        </div>
    </section>
    <section id="noir">
<h4 id="copyright"><i class="fas fa-copyright"></i> Droits d'auteur 2023. Rédigé par project 15</h4>
    </section>
</section>
<script>
    const button = document.querySelectorAll(".effet");


button.forEach(btn => {
    btn.addEventListener("mouseover", () => {
        btn.style.backgroundColor = "#A8D554";
        btn.style.borderStyle = "double";
        btn.style.borderColor = "#FFFFFF"
        btn.style.borderWidth = "5px";

    });

    btn.addEventListener("mouseout", () => {
        btn.style.backgroundColor = "";
        btn.style.borderStyle = "";
        btn.style.borderColor = ""
        btn.style.borderWidth = "";
    });
});





    const lien = document.querySelectorAll("a");
    lien.forEach(lien =>{
    lien.addEventListener("mouseover", () =>{
        lien.style.backgroundColor = "#A8D554"
        lien.style.borderStyle = "groove"
        lien.style.borderColor = "#FFFFFF"
        lien.style.borderWidth = "10px"
        lien.style.width = "100px"
    })
    lien.addEventListener("mouseout", () =>{
        lien.style.backgroundColor = ""
        lien.style.borderStyle = ""
        lien.style.borderColor = ""
        lien.style.borderWidth = ""
        lien.style.width = ""
    })
})

const deroulante = document.querySelector("#reservatio");

deroulante.addEventListener("mouseover", () => {
    deroulant.style.visibility = "visible";
});

deroulante.addEventListener("mouseout", () => {
    deroulant.style.visibility = "hidden";
});
console.log(deroulante)
</script>
</body>
</html> 
