<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNETplus - Remerciement</title>
    <link rel="stylesheet" href="merci.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <section id="tete">
        <div id="logo" class="haut">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjhQxSKV_tSFdGMZZ0E1Zc4Z2ZneEoi9YuCE4W4iCjmsGA50rhwMNer64Se3YJLGy--LE&usqp=CAU" alt="" width="100" height="50">
        </div>
        <div id="numero" class="haut" class="align">
<div id="us">
    
    <a href="mailto:gnet.plus@yahoo.com" class="align" ><i class="fas fa-phone"></i>Contactez-nous</a>
</div>
        </div>
        <div id="accueil" class="haut" class="align">
<a href="accueil.html">Accueil</a>
        </div>
        <div id="services" class="haut" class="align">
<a href="services.html">Services</a>
        </div>
        <div id="reservatio" class="haut" class="align">
            <a href="">Reservation</a>
            <div id="deroulant">
                <a  href="entreprise.html">Entreprise</a><br>
                <a  href="">Particulier</a><br>
                <a href="services.html">Services</a>
            </div>
        </div>
        <div id="a-propros" class="haut" class="align">
<a href="a-propos.html">A Propos</a>
        </div>
        <div id="contacte" class="haut" class="align">
<a href="contact.html">Contact</a>
        </div>
        <div id="facebook" class="haut" class="align">
            
            <a href="https://www.facebook.com/profile.php?id=100012647559749" target="_blank" ><i class="fab fa-facebook"></i></a>
        </div>
        <div id="linkedin" class="haut" target="_blank" class="align">
            
<a href=""><i class="fab fa-linkedin"></i></a>
        </div>
        <div id="twitter" class="haut" class="align">
            
<a href=""><i class="fab fa-twitter"></i></a>
        </div>
        <div id="reservation" class="haut" class="align"> 
            
            <a href="reservartion.html" id="faire-reservation" class="effet"> <i class="fas fa-calendar"></i> RESERVATION</a>
        </div>
    </section>



    <section id="avant">
        <div id="face-1">
            <span id="face-1-1">
        <h1 class="h1">"Merci pour votre <br>Réservation : G NET +<br> s'occupe de tout !"</h1>
        </span>
        </div>
    </section>


    <section id="aider">
        <div id="gauche">
            <div class="image-container">
                <img class="overlay-image" src="https://cdn.pixabay.com/photo/2022/05/01/19/51/thank-you-7168346_1280.jpg" width="500" height="500">
                <img class="image" src="https://as2.ftcdn.net/v2/jpg/03/52/82/59/1000_F_352825917_gRr6U1p2TzEt75F4pCAAtN0Vkdy2VYf1.jpg" alt="" width="500" height="500">
            </div>
        </div>
        <div id="droite">
            <p>"Nous vous remercions chaleureusement<br> pour votre réservation ! Nous traitons votre<br>  demande avec attention et nous vous<br>  reviendrons dans les plus brefs délais pour<br>  confirmer tous les détails. Merci de choisir <br> G NET +, votre satisfaction est notre priorité !"</p>
                </div>
        
    </section>
    <section id="all-foot">

   
        <section id="avant-pied" class="foot">
            <div id="logo-pied" class="espace">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjhQxSKV_tSFdGMZZ0E1Zc4Z2ZneEoi9YuCE4W4iCjmsGA50rhwMNer64Se3YJLGy--LE&usqp=CAU" alt="" width="100" height="50">
            </div>
         
                <div id="facebook-pied" class="petit-epace" >
                    <a href=""><i class="fab fa-facebook"></i></a>
                </div>
              
                    <div id="twitter-pied" class="petit-epace" >
                        <a href=""><i class="fab fa-twitter"></i></a>
                    </div>
                   
                        <div id="linkedin-pied" class="petit-epace" >
                            <a href=""><i class="fab fa-linkedin"></i></a>
                        </div>
                       
                            <div id="instagram-pied" class="petit-epace" >
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
        </section>
       <hr id="ligne">
        <section id="pied" class="foot">
           
            <div id="explorer" >
    <h2>Explorer</h2>
    <h5 class="h1-noir"><a href="accueil.html">Accueil</a></h5>
    <h5 class="h1-noir"><a href="services.html">Services</a></h5>
    <h5 class="h1-noir"><a href="profil.html">Profil</a></h5>
    <h5 class="h1-noir"><a href="a-propos.html">A Propos</a></h5>
    <h5 class="h1-noir"><a href="contact.html">Contact</a></h5>
            </div>
            <div id="service" class="espace">
                <h2>Services</h2>
                <h5 class="h1-noir"><a href="services.html">Désinsectisation</a></h5>
                <h5 class="h1-noir"><a href="services.html">Dératisation</a></h5>
                <h5 class="h1-noir"><a href="services.html">Nettoyage</a></h5>
            </div>
            <div id="gnet" class="espace">
                <h2>G NET+</h2>
                <h5 class="h1-noir"><strong>Adresse :   </strong>Abidjan,cocody</h5>
                <h5 class="h1-noir"><strong>Mail :   </strong>support@doctors.com</h5>
                <h5 class="h1-noir"><strong>Numéro :   </strong>(+225) 01 03 11 01 40</h5>
            </div>
            <div id="heures" class="espace">
                <h2>Heures d'ouverture</h2>
                <h5 class="h1-noir">Lundi au vendredi  : 08 h  - 18h</h5>
                <h5 class="h1-noir">Samedi: 09 - 7pm</h5>
    
            </div>
        </section>
        <section id="noir">
    <h4 id="copyright"><i class="fas fa-copyright"></i> Droits d'auteur 2023. Rédigé par project 15</h4>
        </section>
    </section>
    <script>
        const button = document.querySelectorAll(".effet");
    
    
    button.forEach(btn => {
        btn.addEventListener("mouseover", () => {
            btn.style.backgroundColor = "#A8D554";
            btn.style.borderStyle = "double";
            btn.style.borderColor = "#FFFFFF"
            btn.style.borderWidth = "5px";
    
        });
    
        btn.addEventListener("mouseout", () => {
            btn.style.backgroundColor = "";
            btn.style.borderStyle = "";
            btn.style.borderColor = ""
            btn.style.borderWidth = "";
        });
    });
    
    
    
    
    
        const lien = document.querySelectorAll("a");
        lien.forEach(lien =>{
        lien.addEventListener("mouseover", () =>{
            lien.style.backgroundColor = "#A8D554"
            lien.style.borderStyle = "groove"
            lien.style.borderColor = "#FFFFFF"
            lien.style.borderWidth = "10px"
            lien.style.width = "100px"
        })
        lien.addEventListener("mouseout", () =>{
            lien.style.backgroundColor = ""
            lien.style.borderStyle = ""
            lien.style.borderColor = ""
            lien.style.borderWidth = ""
            lien.style.width = ""
        })
    })
    
    const deroulante = document.querySelector("#reservatio");
    
    deroulante.addEventListener("mouseover", () => {
        deroulant.style.visibility = "visible";
    });
    
    deroulante.addEventListener("mouseout", () => {
        deroulant.style.visibility = "hidden";
    });
    console.log(deroulante)
    </script>
</body>
</html>