   /* toute la page  */
   body{
    padding: 0px;
    text-align: center;
}
 /* section 1  */
#tete{
    margin-top: 30px;
    display :flex;
    flex-wrap: wrap;
    
}
.haut{
    margin-left: 50px;
   
}
/* les lien  */
a{
    color: black;
    text-decoration: none;
}
/*  button resservation de la section 1 */

/* section 2  */
#avant{
    margin-top: 30px;
    height: 200px;
    background-color: #A8D554;
    display: flex;
    flex-wrap: wrap;
}
/*  div 1 de section 2 */
#face-1{
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
  h1{
    color: white;
  }

h2{
    color: white;
   
}
h3{
    color: white;
  
}
h4{
    color: white;
   
}
h5{
    color: white;
   
}
h6{
    color: white;
   
}
/*  classe pour les textes en taille 1 */
.h1-noir{
    color: black;
   
}
.h2-noir{
    color: black;
    
}
.h3-noir{
    color: black;
   
}
.h4-noir{
    color: black;
 
}
.h5-noir{
    color: black;
    
}
 /*  classe pour les textes en taille 6 */
.h6-noir{
    color: black;
    
}

.h1-bleu{
    color :#2C6DA8;
}
.h2-bleu{
    color :#2C6DA8;
    
}
.h3-bleu{
    color :#2C6DA8;
    
}
.h4-bleu{
    color :#2C6DA8;
    
}
.h5-bleu{
    color :#2C6DA8;
   
}
.h6-bleu{
    color :#2C6DA8;
 
}

 /* button reservation dans la div 1 de la section 2 */
#faire-reservation{ 
    background-color: #2C6DA8;
    font: optional;color: #fcfbfb;
    padding: 10px;
    border-color:  #2C6DA8;
    align-items: center;
}
 
 /* section 4 */
#quatre{
    margin-top: 50px;
    display: contents;
    flex-wrap: wrap;
   justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    
}

 /* */
.car{
    background-color: white;
    margin-left: 10px;
    padding: 30px;
    
}



.carre-bleu{
background-color: #2C6DA8;
margin-left: 10px;
}
#temoin{ 
display : flex;
align-items: center;
justify-content: center;
margin-top: 50px;
    background-color :#A8D554;
    margin-left: 200px;
    margin-right: 200px;
    height: 500px;
    
}
#temoignages{
margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
.each{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#kele{
    margin-bottom: 0;
     width: 500px;
     height: 150px;
background-color: white;
}
#fila{
    margin-bottom: 0;
    width: 500px;
    height: 150px;
    background-color: white;
}


.espace{
    margin-left: 150px;
}

.input-normal{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    border-width: 5px;
    border-color: #2C6DA8;
    border-style: groove;
}

#methode-{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.foot{
    justify-content: center;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #A8D554;
}
#ligne{
   align-items: center;
   width: 50%;
    background-color: #A8D554;
    border: 1px solid black;
    
}
#noir{
    background-color: black;
    height: 50px;
    width: 100%;
}
#copyright{
    padding-top: 15px;
    padding-bottom: 15px;
}
#avant-pied{
   padding-bottom: 10px;
    text-align: center;
}
.rangement{
display: flex;
margin-left: 10px;
align-items: center;
text-align: left;
justify-content: left;
padding: 10px;

}
#donne{
margin-left: 10px;

}
.no-padding{
margin-top: 0;
margin-bottom: 0;
}

.petit-epace{
margin-top: 20px;
margin-left: 20px;
}
#all-foot{
background-color: #A8D554;
}
.no-pad{
margin-left: 0;
margin-right: 0;
}
#histoire{
    margin-top: 50px;
}
#groupe{
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}
#recit{
    font: optional;color: black;
    margin-top: 20px;
    margin-left: 50px;
}
#only{
    margin-top: 100px;
    margin-bottom: 100px;
    height: 40px;
    width: 200px;
    border-width: 3px;
    border-color: #2C6DA8;

}
#cinq{
    background-color: #2C6DA8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
}
#c-2{
    background-color:#A8D554;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;

}
.ligne-mince{
    width: 50%;
}
.align{
    margin-left: 130px;
} 
#deroulant{
    padding-top: 15px;
    display: block;
    background-color: #A8D554;
    width: 150px;
    height: 100px;
    visibility: hidden;
   
}
.deroul{
    padding : 20px;
    margin-bottom : 20px;

}
#aider{
    position: relative;
    margin-top: 50px;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

#droite{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 80px;
    margin-left: 100px;
    height: 300px;
    border: 10px dotted #A8D554;
}
.image {
    /* position: absolute; */
    top: 0;
    left: 0;
}

.overlay-image {
    position: absolute;
    top: 30px;
    left: -5px;
    margin-left: 150px;
}