<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GNETplus - Services</title>
    <link rel="stylesheet" href="services.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section id="tete">
        <div id="logo" class="haut">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjhQxSKV_tSFdGMZZ0E1Zc4Z2ZneEoi9YuCE4W4iCjmsGA50rhwMNer64Se3YJLGy--LE&usqp=CAU" alt="" width="100" height="50">
        </div>
        <div id="numero" class="haut" class="align">
<div id="us">
    
    <a href="mailto:gnet.plus@yahoo.com" class="align" ><i class="fas fa-phone"></i>Contactez-nous</a>
</div>
        </div>
        <div id="accueil" class="haut" class="align">
<a href="accueil.html">Accueil</a>
        </div>
        <div id="services" class="haut" class="align">
<a href="services.html">Services</a>
        </div>
        <div id="reservatio" class="haut" class="align">
            <a href="entreprise.html">Reservation</a>
            <div id="deroulant">
                <a  href="entreprise.html">Entreprise</a><br>
                <a  href="">Particulier</a><br>
                <a href="services.html">Services</a>
            </div>
        </div>
        <div id="a-propros" class="haut" class="align">
<a href="a-propos.html">A Propos</a>
        </div>
        <div id="contacte" class="haut" class="align">
<a href="contact.html">Contact</a>
        </div>
        <div id="facebook" class="haut" class="align">
            
            <a href="https://www.facebook.com/profile.php?id=100012647559749" target="_blank" ><i class="fab fa-facebook"></i></a>
        </div>
        <div id="linkedin" class="haut" target="_blank" class="align">
            
<a href=""><i class="fab fa-linkedin"></i></a>
        </div>
        <div id="twitter" class="haut" class="align">
            
<a href=""><i class="fab fa-twitter"></i></a>
        </div>
        <div id="reservation" class="haut" class="align"> 
            
            <a href="entreprise.html" id="faire-reservation" class="effet"> <i class="fas fa-calendar"></i> RESERVATION</a>
        </div>
    </section>
    
    
    <section id="avant">
        <div id="face-1">
            <span id="face-1-1">
        <h6 class="h6"></i> NOS SERVICES</h6>
        <h1> L'Excellence de la Propreté,<br> la Qualité à Chaque<br>  Intervention </h1>
        <a href="entreprise.html" id="faire-reservation" class="effet">FAIRE UNE RESSERVATION</a>
        </span>
        </div>
    </section>
    


    <section id="nos-services">
        <h6 class="h6-noir">NOS SERVICES </h6>
        <h1 class="h1-noir">Oubliez les Tracas, Retrouvez la <br>Fraîcheur, Notre Expertise<br> Redéfinit la Propreté </h1>
        <section id="obtenir-1">
            <div id="img-1">
            <img src="https://img.freepik.com/photos-premium/exterminateur-tenue-travail-pulverise-pesticides-pistolet-pulverisateur-lutte-contre-insectes-dans-appartements-maisons-desinsectisation-locaux_96336-2408.jpg" alt="" width="500" height="400">
        </div>
        <div id="p-1">
            <h4 class="h4-noir">Désinsectisation</h4>
            <p>La desinsectisation chez G NET + va au-delà de <br>l'éradication des insectes. C'est une<br> intervention précise basée sur une expertise<br> approfondie des comportements insecticides.<br> Nous identifions les espèces présentes,<br> évaluons les risques, et appliquons des<br> méthodes modernes pour éliminer<br> efficacement ces intrus indésirables. Nos<br> solutions sont respectueuses de l'environnement,<br> visant à protéger non<br> seulement votre espace, mais aussi notre <br>écosystème.
            </p>
            <button class="effet">OBTENIR UN RENDEZ-VOUS</button>
        </div>
        </section>

        <section id="obtenir-2" >
            
        <div id="p-2">
            <h4 class="h4-noir">Dératisation</h4>
            <p>Dans notre service de dératisation, nous <br>adoptons une approche complète. De la<br> détection à l'élimination, chaque étape est<br> soigneusement planifiée. Notre équipe<br> expérimentée utilise des méthodes de<br> piégeage et d'appâtage, assurant une<br> élimination totale des rongeurs. Mais ce n'est<br> pas tout. Nous mettons également en œuvre<br> des mesures préventives pour éviter tout retour<br> futur, créant ainsi un environnement sûr et sans<br> risque.</p>
            <button class="effet">OBTENIR UN RENDEZ-VOUS</button>
        </div>
        <div id="img-2">
            <img src="https://toutouchien.com/img/rongeurs/rat.jpg" alt="" width="500" height="500">
        </div>
        </section>

        <section id="obtenir-3">
            <div id="img-3">
            <img src="https://www.legalplace.fr/wp-content/uploads/2019/02/new-11.02-Content-Squad-Cr%C3%A9er-une-entreprise-de-nettoyage-1.jpg" alt="" width="500" height="500">
        </div>
        <div id="p-3">
            <h4 class="h4-noir">Nettoyage</h4>
            <p>Le service de nettoyage de G NET + transcende<br> les attentes traditionnelles. Nous ne nous<br> contentons pas de nettoyer les surfaces, nous<br> redéfinissons la propreté. Notre équipe formée<br> s'engage à fournir une qualité exceptionnelle.<br> Chaque recoin est traité avec soin, et nous<br> personnalisons nos services en fonction de vos<br> besoins spécifiques. Au-delà de la propreté,<br> nous offrons un environnement accueillant et<br> sain, car votre bien-être est notre priorité.</p>
            <button class="effet">OBTENIR UN RENDEZ-VOUS</button>
        </div>
        </section>


        <section id="avant-1">
            <div >
                <span id="face-1-1">
            <h6 class="h6"></i>REMISE FORFAITAIRE</h6>
            <h1> Profitez de réductions allant <br> jusqu'à 50 % sur nos services<br> les plus demandés.</h1>
            <P>Ne manquez pas l'opportunité de profiter d'une excellence à moindre coût s<br>pour tous vos besoins en désinsectisation, dératisation et nettoyage.</P>
            <div id="contact">
                <div id="coordonnes">
                <p>NOTRE MAIL : <br> gnet.plus@yahoo.com</p>
                <p>APPELEZ-NOUS : <br> (+225) 01 03 11 01 40</p>
            </div>
            <div id="reduction">
                <h5 class="h6">REDUCTION</h5>
                <h1 class="h1"><strong>50%</strong></h1>
                <h5>INEDITE</h5>
            </div>
            </div>
            </span>
            </div>
        </section>



        <section id="avantages">
            <h6 class="h6-noir">NOS FORMIDABLES AVANTAGES</h6>
            <h1 class="h1-noir">En fait, ce que vous obtiendrez...</h1>
            <section id="rang1" class="rang">
    <div id="1">
    <img src="https://us.123rf.com/450wm/faysalfarhan/faysalfarhan1710/faysalfarhan171013701/88895525-ic%C3%B4ne-de-validation-isol%C3%A9-sur-l-illustration-abstraite-du-bouton-carr%C3%A9-bleu-sp%C3%A9cial.jpg" alt="" width="50px" height="50px">
    <h3>Expérience professionel</h3>
    <p>Nous excellons grâce à notre <br> expertise dans la désinsectisation,<br>dératisation et nettoyage.</p>
    </div>
    <div id="2" class="espace">
        <img src="https://us.123rf.com/450wm/faysalfarhan/faysalfarhan1710/faysalfarhan171013701/88895525-ic%C3%B4ne-de-validation-isol%C3%A9-sur-l-illustration-abstraite-du-bouton-carr%C3%A9-bleu-sp%C3%A9cial.jpg" alt="" width="50px" height="50px">
    <h3>Approche Personnalisée</h3>
    <p>Nous adoptons une approche<br> personnalisée pour répondre a vos<br>besoins spécifiques.</p>
    </div>
    <div id="3" class="espace">
        <img src="https://us.123rf.com/450wm/faysalfarhan/faysalfarhan1710/faysalfarhan171013701/88895525-ic%C3%B4ne-de-validation-isol%C3%A9-sur-l-illustration-abstraite-du-bouton-carr%C3%A9-bleu-sp%C3%A9cial.jpg" alt="" width="50px" height="50px">
    <h3>Réactivité et Rapidité</h3>
    <p>Nous répondons vite et agissons<br> rapidement, c'est notre force.</p>
    </div>
            </section>
            <section id="rang2" class="rang">
                <div id="a">
                    <img src="https://us.123rf.com/450wm/faysalfarhan/faysalfarhan1710/faysalfarhan171013701/88895525-ic%C3%B4ne-de-validation-isol%C3%A9-sur-l-illustration-abstraite-du-bouton-carr%C3%A9-bleu-sp%C3%A9cial.jpg" alt="" width="50px" height="50px">
                    <h3>Respect de L'environement</h3>
                    <p>Nos méthodes sont respectueuses de<br> l'environement pour une <br>désinfection sûre.</p>
                </div>
                <div id="b" class="espace">
                    <img src="https://us.123rf.com/450wm/faysalfarhan/faysalfarhan1710/faysalfarhan171013701/88895525-ic%C3%B4ne-de-validation-isol%C3%A9-sur-l-illustration-abstraite-du-bouton-carr%C3%A9-bleu-sp%C3%A9cial.jpg" alt="" width="50px" height="50px">
    <h3>Confidentilité et Discretion</h3>
    <p>Vos affaires restent confidentielles <br>avec notre intervention discrète. </p>
                </div>
                <div id="c" class="espace">
                    <img src="https://us.123rf.com/450wm/faysalfarhan/faysalfarhan1710/faysalfarhan171013701/88895525-ic%C3%B4ne-de-validation-isol%C3%A9-sur-l-illustration-abstraite-du-bouton-carr%C3%A9-bleu-sp%C3%A9cial.jpg" alt="" width="50px" height="50px">
    <h3>Satisfaction Client </h3>
    <p>Votre satisfaction est notre priorité,<br>comme en attestant nos retours <br>clients positifs.</p>
                </div>
            </section>
        </section>

        <section id="all-foot">

   
            <section id="avant-pied" class="foot">
                <div id="logo-pied" class="espace">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjhQxSKV_tSFdGMZZ0E1Zc4Z2ZneEoi9YuCE4W4iCjmsGA50rhwMNer64Se3YJLGy--LE&usqp=CAU" alt="" width="100" height="50">
                </div>
             
                    <div id="facebook-pied" class="petit-epace" >
                        <a href=""><i class="fab fa-facebook"></i></a>
                    </div>
                  
                        <div id="twitter-pied" class="petit-epace" >
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </div>
                       
                            <div id="linkedin-pied" class="petit-epace" >
                                <a href=""><i class="fab fa-linkedin"></i></a>
                            </div>
                           
                                <div id="instagram-pied" class="petit-epace" >
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                </div>
            </section>
           <hr id="ligne">
            <section id="pied" class="foot">
               
                <div id="explorer" >
        <h2>Explorer</h2>
        <h5 class="h1-noir"><a href="accueil.html">Accueil</a></h5>
        <h5 class="h1-noir"><a href="services.html">Services</a></h5>
        <h5 class="h1-noir"><a href="entreprise.html">Reservation</a></h5>
        <h5 class="h1-noir"><a href="a-propos.html">A Propos</a></h5>
        <h5 class="h1-noir"><a href="contact.html">Contact</a></h5>
                </div>
                <div id="service" class="espace">
                    <h2>Services</h2>
                    <h5 class="h1-noir"><a href="services.html">Désinsectisation</a></h5>
                    <h5 class="h1-noir"><a href="services.html">Dératisation</a></h5>
                    <h5 class="h1-noir"><a href="services.html">Nettoyage</a></h5>
                </div>
                <div id="gnet" class="espace">
                    <h2>G NET+</h2>
                    <h5 class="h1-noir"><strong>Adresse :   </strong>Abidjan,cocody</h5>
                    <h5 class="h1-noir"><strong>Mail :   </strong>support@doctors.com</h5>
                    <h5 class="h1-noir"><strong>Numéro :   </strong>(+225) 01 03 11 01 40</h5>
                </div>
                <div id="heures" class="espace">
                    <h2>Heures d'ouverture</h2>
                    <h5 class="h1-noir">Lundi au vendredi  : 08 h  - 18h</h5>
                    <h5 class="h1-noir">Samedi: 09 - 7pm</h5>
        
                </div>
            </section>
            <section id="noir">
        <h4 id="copyright"><i class="fas fa-copyright"></i> Droits d'auteur 2023. Rédigé par project 15</h4>
            </section>
        </section>
    <script>
         const lien = document.querySelectorAll("a");
    lien.forEach(lien =>{
    lien.addEventListener("mouseover", () =>{
        lien.style.backgroundColor = "#A8D554"
        lien.style.borderStyle = "groove"
        lien.style.borderColor = "#FFFFFF"
        lien.style.borderWidth = "10px"
        lien.style.width = "100px"
    })
    lien.addEventListener("mouseout", () =>{
        lien.style.backgroundColor = ""
        lien.style.borderStyle = ""
        lien.style.borderColor = ""
        lien.style.borderWidth = ""
        lien.style.width = ""
    })
})

const deroulante = document.querySelector("#reservatio");

deroulante.addEventListener("mouseover", () => {
    deroulant.style.visibility = "visible";
});

deroulante.addEventListener("mouseout", () => {
    deroulant.style.visibility = "hidden";
});
    </script>
</body>
</html>